{% include 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}

        <!-- Contact Start -->
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h1 class="mb-3">Admin Login Page</h1>
                </div>
                <div class="contact-detail position-relative p-5">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
                            {{msg}}
                            <form action="/adminlogin" method="post">
                            <div class="p-5 rounded contact-form">
                                <div class="mb-4">
                                    <h3>{{msg}}</h3>
                                </div>
                                <div class="mb-4">
                                    <input type="text" class="form-control border-1 py-3" placeholder="Login Name"
                                    name="uname">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control border-1 py-3" placeholder="Your Password"
                                    name="pwd">
                                </div>
                                <div class="text-start">
                                    <button class="btn bg-primary text-white py-3 px-5" type="submit">Admin Login</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

{% endblock %}
</body>
</html>