{% include 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    table,tr,th,td
    {
        font-name:arial;
        border:1px solid black;
        border-collapse:collapse;
        width:100%;
    }
    th,td
    {
    width:200px;
    height:50px;
    text-align:center;
    font-family:verdana;
    }
</style>
</head>
<body>
{% block content %}
        <!-- About Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container py-5">
                <div class="row g-5">
                    <!--<div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="/static/img/about-1.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="/static/img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <!--<h5 class="text-primary">About Us</h5>-->
                        <h1 class="mb-4">Admin View Users Page</h1>
                        <p>
<table>
                <thead>
                <tr>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>EmailId</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.FirstName}}</td>
                    <td>{{row.LastName}}</td>
                    <td>{{row.EmailId}}</td>
                    <td>{{row.PhoneNumber}}</td>
                    <td>{{row.Address}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                        </p>
                        <!--<p class="mb-4">Time series analysis is a powerful statistical method that examines data points collected at regular intervals to uncover underlying patterns and trends. This technique is highly relevant across various industries, as it enables informed decision making and accurate forecasting based on historical data.</p>-->
                        <!--<a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock %}
</body>
</html>